p Hello and welcome to this introductory English lesson.
| Today we're going to learn some facts about the English language and will tackle English pronunciation and alphabet.
h2 1. English originates from North West Germany and the Netherlands
p English has its origins in Old High German, Old Norse, and Anglo Norman. Modern English started being used in the 14th century and the closest languages to English are Dutch and West Flemish.
h2 2. English is spoken by 952 million people around the world
p 339 million people speak English as a first language, and 603 million speak it as a second language. It is the official language in 67 countries and 27 non-sovereign countries such as Hong Kong.
h2 3. Most English grammar and spelling follow standardised rules
p Dr.Johnson’s Dictionary of 1755 sets out the rules of English grammar and spelling. This dictionary was the first to comprehensively document the English lexicon and is one of the most famous dictionaries in history, taking over 8 years to compile.
h2 4. The most used adjective in the English language is ‘good’
p The most common noun in the English Language is ‘time’, and the most mispronounced (and often misspelt) word in the English language is ‘Pronunciation’.
h2 5. English is the language of the sky
p All pilots must identify themselves in English during international flights. Likewise, all air traffic controllers at international airports must be able to communicate with the pilots in English.
h2 6. The longest word in the English language contains 45 letters
p The forty-five letter word, ‘pneumonoultramicroscopicsilicovolcanoconiosis’, refers to a lung disease caused by inhalation of fine silca dust. The second longest word in the English language dictionary is ‘Hippopotomonstrosesquippedaliophobia’, that ironically means the fear of long words.
br
p And now it's time to learn the alphabet.
img src="https://english4real.com/img/pages/alphabet.jpg" width="600" height="500"
p See? Nothing complicated.
h2 Home task
p Watch #{link_to('this video', "https://youtu.be/yKr8sfmNV5Q")} about how to pronounce all English sounds.
